@model IEnumerable<Gestionaire_location.Models.Blog>

@{
    ViewData["Title"] = "Mes sites";
}
<script src="~/Views/Scripts/jquery-3.2.1.min.js" type="text/javascript">
    $(document).ready(function () {
        alert('sex');
        var date = new Date();
        var d = date.getDate();
        var m = date.getMonth();
        var y = date.getFullYear();

        $('#calendar').fullCalendar({
            editable: true,
            firstDay: 1,
            year: y,
            month: m,
            date: d,
            header: {
                left: 'title',
                right: 'prev,next today,agendaDay,agendaWeek,month'
            },
            defaultView: 'agendaWeek',
            columnFormat: {
                month: 'ddd',
                week: 'ddd d/M',
                day: 'dddd d/M'
            },
            minTime: 7,
            maxTime: 22,
            editable: true,
            droppable: false,
            slotMinutes: 15,
            disableResizing: false,
            events: [
                {
                    "title": "Calendar Test",
                    "start": "2014-06-01 18:30:00",
                    "end": "2014-06-01 19:00:00",
                    "allDay": false
                },
                {
                    "title": "Calendar Test 1",
                    "start": "2014-06-02 18:30:00",
                    "end": "2014-06-02 19:00:00",
                    "allDay": false
                },
                {
                    "title": "Calendar Test 2",
                    "start": "2014-06-03 18:30:00",
                    "end": "2014-06-03 19:00:00",
                    "allDay": false
                }
            ]
            ,
        });
    });
</script>

<h2>Mes sites</h2>
<div id="calendar">
</div>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Url)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Url)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BlogId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BlogId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BlogId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
