@model IEnumerable<Gestionaire_location.Models.Reservation>
@using DayPilot.AspNetCore;

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <script src="~/js/daypilot-modal-2.7.js"></script>
</head>
<body>
<p>
    <div class="note">
        <a href="javascript:dp.commandCallBack('previous');">Precedent</a> | 
        <a href="javascript:dp.commandCallBack('today');">Aujourd'hui</a> |
        <a href="javascript:dp.commandCallBack('next');">Suivant</a>
    </div>
</p>
<p>
    <a asp-action="Create">Create New</a>
    @addTagHelper "*, DayPilot.AspNetCore"
    <div id="dps" >
        <daypilot-scheduler id="dp"
                        backend-url="/Reservations/Backend" event-move-handling="Notify" event-click-handling="JavaScript" event-click-java-script="editEvent(args.e.value())" /> 
    </div>
</p>
    
<script type="text/javascript">
    function editEvent(id) {
         
         
        var modal = new DayPilot.Modal();
        modal.top = 60;
        modal.width = 300;
        modal.opacity = 70;
        modal.border = "10px solid #d0d0d0";
        modal.closed = function() {
            dp.commandCallBack('refresh');
        };
        modal.height = 250;
        modal.zIndex = 100;
        modal.showUrl("Reservations/Edit/" + id);
    }
</script>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateDebut)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateFin)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateDebut)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DateFin)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
</body>
</html>
